---
layout: default
categories: feed work

title: Photography
title_long: Photography
subtitle: 

path: work/photography
news_image: photos_capa.png


---

<section class=" section_padding">
    <div class='major_section_header content_offset'>
        <div class='headline_content intro_wrap'>
            <p>Clicks</p>
        </div>
    </div>
    <div class='content_offset'>
    	 <figure class='figure two_col clearfix'>
	    	<div class=' project_column left'>
	    	{% include system/picturefill.html figure='photo_1.jpg' %}
	    	</div>
	    	<div class='project_column right'>
	    	{% include system/picturefill.html figure='photo_2.jpg' %}
	    	</div>
    	</figure>
    	 <figure class='figure two_col clearfix'>
	    	<div class=' project_column left'>
	    	{% include system/picturefill.html figure='photo_9.jpg' %}
	    	</div>
	    	<div class='project_column right'>
	    	{% include system/picturefill.html figure='photo_8.jpg' %}
	    	</div>
    	</figure>
    	 <figure class='figure two_col clearfix'>
	    	<div class=' project_column left'>
	    	{% include system/picturefill.html figure='photo_5.jpg' %}
	    	</div>
	    	<div class='project_column right'>
	    	{% include system/picturefill.html figure='photo_6.jpg' %}
	    	</div>
    	</figure>
    	 <figure class='figure two_col clearfix'>
	    	<div class=' project_column left'>
	    	{% include system/picturefill.html figure='photo_3.jpg' %}
	    	</div>
	    	<div class='project_column right'>
	    	{% include system/picturefill.html figure='photo_10.jpg' %}
	    	</div>
    	</figure>
    	 <figure class='figure two_col clearfix'>
	    	<div class=' project_column left'>
	    	{% include system/picturefill.html figure='photo_7.jpg' %}
	    	</div>
	    	<div class='project_column right'>
	    	{% include system/picturefill.html figure='photo_4.jpg' %}
	    	</div>
		</figure>
    	<div class='project_detailed_info'>
		    <div class='copy_content intro_wrap detailed_intro seventy_five'>
		    	<p>Photography</p>
		    </div>
		    <div class='project_detail fifty'>
		    	<p>Photography is the best way that I found to extend and change the way how I see and observe life. I mostly take pictures for hobby but also worked as a freelancer as well.
I consider photography as a complement for me as a designer.</p>
		    </div>
		</div>
    </div>
</section>

