---
layout: default
categories: work case_study second feed


title: Saraiva Player 
title_long: Saraiva Player
subtitle: Product Design, Art Direction, Web, Mobile Application, Smart TVs

path: work/saraiva_player
news_image: saraiva.png

---

<section class=" section_padding">
    <div class='major_section_header content_offset'>
        <div class='headline_content seventy_five'>
            <p></p>
        </div>
    </div>
    <div class='content_offset image_set'>
    	<figure>

    		<div class='gray'>
    			{% include system/picturefill.html figure='saraiva_all.jpg' %}
    		</div>
    	</figure>
    	    <figure>
    	    	<figcaption>
	    			Android
	    		</figcaption>
	    		{% include system/picturefill.html figure='android_saraiva.jpg' %}
	    	</figure>
			   <figure>
    	    	<figcaption>
	    			iOS
	    		</figcaption>
	    		<div class='subtle_border'>
	    		{% include system/picturefill.html figure='iPad_saraiva.jpg' %}
	    	</div>
	    	</figure>
			   <figure>
    	    	<figcaption>
	    			Smart TV
	    		</figcaption>
	    		<div class='subtle_border'>
	    		{% include system/picturefill.html figure='tv_saraiva.jpg' %}
	    	</div>
	    	</figure>
			   <figure>
    	    	<figcaption>
	    			XBOX 360
	    		</figcaption>
	    		<div class='subtle_border'>
	    		{% include system/picturefill.html figure='xbox360_saraiva.jpg' %}
	    	</div>
	    	</figure>

		<div class='project_detailed_info'>
		    <div class='copy_content intro_wrap detailed_intro seventy_five'>
		    	<p>Saraiva Player</p>
		    </div>
		    <div class='project_detail fifty'>
		    	<p>Saraiva Player was the best application to watch movies on your tablet or smartphone. There was over 6000 movies available for renting and/or buying. 
I’m was in charge for designing to XBOX 360, XBOX ONE, Smart TVs and Android.
Unfortunately due bureaucracies issues the applications were removed from the stores. </p>
		    </div>
		</div>
	</div>
</section>
