---
layout: default
categories: feed work


title: Kids Application
title_long: Kids Application
subtitle: iPad Application

path: work/kids
news_image: app_kids.png

resolution_independent: yes
background_color: gray

---

<section class=" section_padding">
    <div class='major_section_header content_offset'>
        <div class='headline_content seventy_five'>
            <p>Fun for every child&#8230;</p>
        </div>
    </div>

    <div class='content_offset'>
                <figure class='figure clearfix'>
           	<div class='gray'>
               {% include system/picturefill.html figure='app_kids.jpg' %}
           	</div>
        </figure>
        <div class='detailed_caption'>
  		    <div class='project_detail fifty'>
  		    	<p>Teleco e Teco are the names of two brazilian clowns. The application was developed to allow children of various ages to learn, enjoy and be entertained with Teleco e Teco’s educational games.
The app is in private beta phase and will be available only for iOS at the moment.</p>
  		    </div>
        </div>
	    <figure class='figure clearfix'>
	           	<div class='gray'>
	               {% include system/picturefill.html figure='app_kids_game.jpg' %}
	           	</div>
	        </figure>
	        <div class='detailed_caption'>
	  		    <div class='project_detail fifty'>
	  		    	<p>Balloon game is a way for children to learn the numerical sequence playing.</p>
	  		    </div>
	        </div>
       
	</div>
</section>
