---
layout: default
categories: work case_study feed

title: Looke
title_long: Looke
subtitle: Product Design, Art Direction, Web, Mobile Application, Smart TVs

path: work/Looke
news_image: feed_img3.jpg

---
<section class="section_padding">
    <div class='major_section_header content_offset'>
        <div class='headline_content seventy_five'>
            <p>Looke is a video streaming application. </p>
        </div>
    </div>
    <div class='content_offset image_set'>

    	<figure>
    		{% include system/picturefill.html figure='card_front2.jpg' %}
    	</figure>
		
    	<figcaption>Android</figcaption>
    	 <figure class='figure two_col clearfix'>
	
	    	<div class=' project_column left'>
	    	{% include system/picturefill.html figure='App_looke_android.jpg' %}
	    	</div>
	    	<div class='project_column right'>
	    	{% include system/picturefill.html figure='App_looke_android2.jpg' %}
	    	</div>
    	</figure>
		
    	<figcaption>Smart TV</figcaption>
    	
    	<figure class='figure  clearfix'>

	    	<div class=' project_column left_third'>
	    			{% include system/picturefill.html figure='app_looke_tv0.jpg' %}
	    	</div>
	    	<div class='project_column middle_third'>
	    			{% include system/picturefill.html figure='app_looke_tv1.jpg' %}
	    	</div>
	    	<div class='project_column right_third'>
	    			{% include system/picturefill.html figure='app_looke_tv2.jpg' %}
	    	</div>
    	</figure>
		
    	<figcaption>iOS</figcaption>
    	 <figure class='figure two_col clearfix'>
	
	    	<div class=' project_column left'>
	    	{% include system/picturefill.html figure='app_ipad_1.jpg' %}
	    	</div>
	    	<div class='project_column right'>
	    	{% include system/picturefill.html figure='app_ipad_2.jpg' %}
	    	</div>
    	</figure>

	    <div class='project_detailed_info'>
		    <div class='copy_content intro_wrap detailed_intro seventy_five'>
		    	<p><a href='http://www.looke.com.br' target='_blank'>Looke</a></p>
		    </div>
		    <div class='project_detail fifty'>
		    	<p>Looke is a video streaming application that works with TVOD and SVOD and allows users to watch movies, series and shows whenever they want and wherever they are. The content can be accessed by paying a monthly fee or through an one-time purchase.
I'm currently in charge of developing the user interface and experience for all users on smart TVs, applications for iOS and Android and the website.</p><p>The application works on:</p>
		<div style:"display:inline;">
			<a href="https://itunes.apple.com/br/app/looke/id961194595?mt=8&uo=4" 			target="itunes_store" 			style="display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/htmlResources/assets/pt_br//images/web/linkmaker/badge_appstore-lrg.png) no-repeat;width:135px;height:40px;@media only screen{background-image:url(https://linkmaker.itunes.apple.com/htmlResources/assets/pt_br//images/web/linkmaker/badge_appstore-lrg.svg);}"></a>

<a href="https://play.google.com/store/apps/details?id=br.com.encripta.looke">
  <img alt="Get it on Google Play" style="display:inline-block;overflow:hidden; no-repeat;width:118px;vertical-align: top;"
       src="https://developer.android.com/images/brand/en_generic_rgb_wo_45.png" />
</a>
		</div>
		<p>Smart TVs: Samsung and Philips.</p>
		    </div>
		</div>
	</div>
</section>
