---
layout: default
categories: work case_study third feed


title: MIX Música
title_long: MIX Música
subtitle: Product Design, Art Direction, Web, Mobile Application


path: work/mixmusica
news_image: mixmusica.png

---

<section class=" section_padding">
    <div class='major_section_header content_offset'>
        <div class='headline_content seventy_five'>
            <p></p>
        </div>
    </div>
    <div class='content_offset image_set'>
    	<figure>
    		<div class="gray">
		    {% include system/picturefill.html figure='MixMusica_all.jpg' %}
		   	</div>
	   	</figure>
    		   	<figure>
		    {% include system/picturefill.html figure='MixMusica_iPhone.jpg' %}
	   	</figure>

    		   	<figure>
		    {% include system/picturefill.html figure='MixMusica_Android.jpg' %}
	   	</figure>
	   	    		   	<figure>
		    {% include system/picturefill.html figure='MixMusica_Desktop.jpg' %}
	   	</figure>

   
	   	<div class='project_detailed_info'>
		    <div class='copy_content intro_wrap detailed_intro seventy_five'>
		    	<p>MIX Música</p>
		    </div>
		    <div class='project_detail fifty'>
		    	<p>With MIX Música, users can create and manage their playlists, receive recommendations for new musics and much much more.
The main objective was to build an intuitive and focused service to allow its users to listen to an amazing catalogue of songs, using as many devices as they want, all with an amazing integration.
MIX Música is in a advanced beta phase, and will be available for iOS, Android and web.</p>
		    </div>
		</div>
    </div>
</section>
