---
layout: default
categories: feed work


title: WEBED
title_long: WEBED
subtitle: Product Design 

path: work/webed
news_image: webed_capa.png

---

<section class=" section_padding">
    <div class='major_section_header content_offset'>
        <div class='headline_content seventy_five'>
            <p></p>
        </div>
    </div>

    <div class='content_offset image_set'>
    	<figure>
    		<div class="gray">
  	    {% include system/picturefill.html figure='webed.jpg' %}
  	   	</div>
     	</figure>
    	<figure>
    		<div class="gray">
  	    {% include system/picturefill.html figure='webed_site.jpg' %}
  	   	</div>
     	</figure>

		<div class='project_detailed_info'>
		    <div class='copy_content intro_wrap detailed_intro seventy_five'>
		    	<p>Webed</p>
		    </div>
		    <div class='project_detail fifty'>
		    	<p>Webed is a platform for distributing a variety of media types including video, audio and images. Similar to Youtube and Vimeo, but Webed allows the customer have more control over their content.
I was in charge of re-designing the website and will be publicly available at mid-2015. </p>
		    </div>
		</div>
    </div>
</section>
