<section class='about_section section_padding'>
	<div class='about_content content_offset'>
		<div class='copy_content seventy_five'>
			<!--<p>Independent designer in Vancouver, BC.</p>-->
			<p>I’m an interaction designer from Brazil and I'm bachelor of Digital Interface.</p>
			<p>More than 3 years acts with designer and works with: user interface (UI), user experience (UX) in websites and mobiles applications (Android and iOS).</p>
			<p>Currently working as a Designer at Encripta, a company that provides the best streaming and on-demand media. My work includes prototyping and designing all client-side software, from TVs to consoles and mobile applications.</p>
			<p>I love: challenges, technology and photography.</p>
			<p>Get in touch with me:</p>
		</div>
		<div class='meta_info'>
			<span class='meta_title'><a class='' href="mailto:mayarabutti@gmail.com">mayara butti</a></span></br>
		</div>
		<div class='about_projects'><a class='' href="mailto:mayarabutti@gmail.com">mayarabutti@gmail.com</a></div>
	</div>
</section>

